*{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;}
html,body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    
  }
  h1{
    text-align: center;
    padding-bottom: 30px;
    font-size:30px;
    
  }
  p{
    padding-top: 20px;
    text-align: center;
  }
  .bg {
    background-image: url(../images/1.jpg);
    background-size: 100vw 100%;
    background-repeat: no-repeat;
    height: 100%; 
    width: 100%;
    border:0.5px solid #e8c131;
    box-sizing: border-box;
}

  form{ 
    line-height: 1.8;
  }
  p,h1{
    color: #e8c131;
  }
  h1{
    margin-top: 3em;
  }
form >input
{
width: 400px;
height: 30px;
}
form >label{
  color: #e8c131; 
  font-weight: bold;
  padding-top: 5px;
}
.bg form{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input{
  border: 1px solid black;
}
.btn{
  text-align: center;
}
.btn button{
  width: 100px;
  height: 40px;
  background-color: #e8c131;
  border-color: #e8c131;
  font-weight: bold;
}
a { 
  text-underline-offset: 0.2em;
} 
a:link{
  color: blue;
}
a:visited{
  color: #BC3EC2;
}
a:hover{
  color:#e8c131 ;
}

